
.recovery-container {
    padding: 1.25rem;

  .recovery-title {
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .recovery-information {
    color: white;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
  }
}
